.otpBox {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.otpBox input {
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
  outline: none !important;
  border-radius: 4px;
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 17px;
}

.otpBox input:focus {
  border: 1px solid rgba(0, 0, 0, 0.7) !important;
}

.otpPage .container {
  height: 90vh;
  display: flex;
}
